# AI
OPENAI_API_KEY="sk-..."
OPENAI_API_BASE_URL="https://api.groq.com/openai/v1"
AI_MODEL="openai/gpt-oss-20b"
AI_PROVIDER=openai
MAXIMUM_TRACK_POINTS=100 # to limit the number of track points sent to the AI for analysis, to avoid hitting token limits
